.page {
  padding-top: 5.5em;
  position: relative; 
}
.aiImage {
  margin: 0 auto;
  background-position: center;
  height: 512px;
  width: 512px;
  border-radius: 6px;
  object-fit: cover;
}

nav {
  margin-top: 0;
  margin: 0 auto;
  width: 100%;
  height: 5em;
  position: fixed;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-top: solid black;
  
}
.pholder {
  margin: 0 auto;
  width: 100%;
  height: 12%;
  position:static;
  text-align: center;
  opacity: 0;
}
.title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 4vmax;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imageBox {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.quote {
  position: absolute;
  top: 70%;
  text-align: center;
  overflow-wrap: normal;
  height: 512px;
  width: 512px;
  color: aliceblue;
}
.createForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
.inputs {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
#button1 {
  width: 50%;
  margin: 0 auto
}
@media (max-width: 500px) {
  .aiImage {
    height: 256px;
    width: 256px;
  }
}